<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>app需要使用藍牙連接控制器</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>app需要使用藍牙連接控制器</string>
</dict>
</plist>
